<h1>New Dose</h1>

<h2>Please select the dose for your <%= @cocktail.name %></h2>

<div class="centerbox">
  <div class="list">
<%= simple_form_for [@cocktail, @dose] do |f| %>
 <%= f.input :description %>
 <%= f.input :ingredient, collection: @ingredients %>
  <%= f.submit class: "btn mybtn" %>
<% end %>

<%= link_to "Back to cocktails", cocktails_path, class: "btn mybtn"%>

</div>
</div>
